body{margin-left:0 !important;}
.wp-caption{float:right;}
.alignleft{float:right;padding-left:20px;}
.alignright{float:left;padding-right:20px;}
.aligncenter{margin-right:auto;margin-left:auto;}
.wp-caption.alignleft{margin-left:20px;}
.wp-caption.alignright{margin-right:20px;}
.wp-caption-text{padding-right:7px;}
blockquote{padding-right:20px;}
.scrollup{left:100px;}
.top_nav{right:0;}
.top_nav .widget{float:right;padding-right:8px;padding-left:8px;}
.top_nav .widget:first-child{padding-right:0;border-right:none;}
.top_nav .widget:last-child{padding-left:0;border-left:none;}
.top_nav .widget_text{float:right;}
.top_nav .topinfo .phone{padding-right:21px;padding-left:21px;}
.top_nav .topinfo .email{padding-right:21px;padding-left:5px;}
.top_nav .social_widget ul li{float:right;margin-left:10px;}
.top_nav .social_widget ul li:first-child{margin-right:0;}
.top_nav .social_widget ul li a{float:right;}
.top_nav .social_widget li i{float:right;padding-right:0;}
.top_nav .megamenu_container{float:right;}
.top_nav .social_widget ul li:last-child{margin-left:0;}
.top_nav .widget ul li{float:right;padding-right:5px;padding-left:5px;}
.top_nav .icl_languages_selector a.lang_sel_sel{padding-right:0 !important;}
.top_nav #lang_sel ul ul{right:1px !important;}
.top_nav .icl_languages_selector ul ul{right:-21px !important;}
.top_nav .icl_languages_selector ul ul a,.top_nav .icl_languages_selector ul ul a:visited{padding-right:21px !important;}
.top_nav #search-form:after{left:15px;}
.top_nav #search-form{float:right;}
.top_nav_transparency{padding-right:70px;padding-left:70px;margin-right:0;margin-left:0;}
.top_nav_transparency .widget{padding-right:25px !important;padding-left:25px !important;}
.top_nav_transparency .widget:first-child{padding-right:0px !important;}
.top_nav_transparency .widget:last-child{padding-left:0px !important;}
.top_nav_transparency .footer_social_icons.circle li{border-left:1px solid #ededed !important;padding-right:5px !important;padding-left:5px !important;margin-left:0 !important;}
.background--dark .top_nav_transparency .footer_social_icons.circle li{border-left:1px solid rgba(255,255,255,0.16) !important;}
.top_nav_transparency .footer_social_icons.circle li:last-child{border-left:0 !important;}
#logo, #logo_snap{float:right;}
#logo a, #logo_snap a{float:right;}
.header_borders #header .row-fluid{border-right:1px solid rgba(242, 242, 242, 0.37);border-left:1px solid rgba(242, 242, 242, 0.37);padding-right:5px;padding-left:5px;}
.header_borders #logo,.header_borders #logo_snap{padding-left:10px;padding-right:10px;border-left:1px solid rgba(242, 242, 242, 0.32);}
.header_borders .header_tools{border-right:1px solid rgba(242, 242, 242, 0.32);}
.header_borders .header_tools .icon-bars{padding-left:11px;}
.header_tools .cart_icon .nr{left:-8px;}
.header_tools .right_search i{float:right;}
header#header #navigation{float:left;}
nav{float:right;}
nav .menu{float:right;}
nav .menu li{float:right;}
nav .menu>li>a{float:right;}
nav .menu > li > ul.sub-menu, nav .menu > li > ul.sub-menu ul{left:6px;}
nav .menu li > ul.sub-menu li{float:right;text-align:right;}
nav .menu li ul.sub-menu li a{float:right;}
nav .menu > li > ul.sub-menu li.sub-menu{right:100%;}
nav .menu li ul.sub-menu li:last-child{border-left:none;}
nav .simple_custom_menu_mega_menu{left:0px;right:0;}
nav .simple_custom_menu_mega_menu.simple_mega2{right:0;}
nav .menu > li:last-child .simple_custom_menu_mega_menu{right:auto;}
nav .simple_custom_menu_mega_menu li:first-child{border-right:none;}
nav .simple_custom_menu_mega_menu li li{margin-right:0 !important;}
nav .simple_custom_menu_mega_menu ul>li{float:right;padding-right:10px;padding-left:10px;}
nav .simple_custom_menu_mega_menu ul>li li{margin-right:0 !important;}
nav .simple_custom_menu_mega_menu ul>li h6{text-align:right;padding-right:12px;}
nav .simple_custom_menu_mega_menu ul{float:right;}
nav .simple_custom_menu_mega_menu > ul{float:right;}
nav .simple_custom_menu_mega_menu > ul > li:first-child{margin-right:0 !important;}
nav .menu li:first-child{margin-right:0;}
nav .menu > li:last-child{padding-left:0;margin-left:0;}
nav .menu > li > ul > li.hasSubMenu:after{float:left;left:10px;}
.header_5_fullwrapper nav .simple_custom_menu_mega_menu{float:right;right:50%;}
.menu-small{float:right;}
.menu-small ul.menu{float:right;}
.menu-small ul li{float:right;}
.menu-small ul li a{padding-right:12%;float:right;}
.menu-small ul.menu > li > ul > li > a{padding-right:13%;}
.menu-small ul.menu > li > ul > li > ul > li > a{padding-right:14%;}
.menu-small ul.menu .simple_custom_menu_mega_menu h6{padding-right:12.5%;}
.menu-small ul.menu .simple_custom_menu_mega_menu > ul > li > a{padding-right:30px;}
.menu-small ul.menu .simple_custom_menu_mega_menu > ul > li > ul{padding-right:13%;}
.menu-small ul.menu .simple_custom_menu_mega_menu > ul > li > ul > li > a{padding-right:30px;}
.snap_header{float:right;}
.snap-drawers .snap-drawer-left #logo_snap img{padding-right:5px;}
.snap-drawers .snap-drawer-left #logo_snap{float:right;}
.snap-drawers .snap-drawer-left .close-sidebar{float:right;border-right:1px dashed #f2f2f2;border-left:1px dashed #f2f2f2;}
.snap-drawers .snap-drawer-left .close-sidebar i{right:50%;}
.snap-drawers .snap-drawer-left .snap_left_content{float:right;}
.snap_left_content #navigation nav li{padding-right:50px;}
.sidemenu .snap_left_content .search_field form{float:right;right:10px;}
.sidemenu .snap_left_content .search_field #search-form:after{left:15px;}
.sidemenu .snap_left_content .header_tools{float:right;padding-right:0;border-right:0px;}
.sidemenu .snap_left_content .header_tools .cart{float:left;border-right:1px solid #424141;}
.sidemenu .snap_left_content .header_widgetized{float:right;}
.sidemenu .snap_left_content .header_widgetized .widget{float:right;}
.sidemenu .snap_left_content .header_widgetized .footer_social_icons{float:right;}
.sidemenu .snap_left_content .header_widgetized .footer_social_icons li{float:right;margin-left:15px;margin-right:0px !important;}
.sidemenu .snap_left_content .header_widgetized .footer_social_icons li:first-child{margin-right:0 !important;}
.sidemenu .snap_left_content .header_widgetized .footer_social_icons li:last-child{margin-left:0 !important;}
.sidemenu .snap_left_content .header_widgetized .footer_social_icons li a{float:right;}
.sidemenu .snap_left_content .header_widgetized .footer_social_icons li i{float:right;}
.header_tools{padding-right:25px;padding-left:10px;float:left;}
#navigation{padding-left:0px;}
.header_tools .cart{float:right;}
.header_tools .vert_mid > a:last-child, .header_tools .cart:last-child{margin-left:0;}
.header_tools .right_search{float:right;}
.header_tools .cart_icon{float:right;}
.header_tools .cart_icon .count{left:-10px;}
.header_tools .cart .content{left:0;}
.header_tools .cart .content .cart_item{float:right;}
.header_tools .cart .content .cart_item img{float:right;}
.header_tools .cart .content .cart_item .description{float:right;padding-right:12px;}
.header_tools .cart .content .cart_item .description .title{float:right;}
.header_tools .cart .content .cart_item .description .price{float:right;}
.header_tools .cart .content .empty, .header_tools .cart .content .items{text-align:right;float:right;}
.header_tools .cart .checkout{float:right;}
.header_tools .cart .checkout .view_cart{float:right;}
.header_tools .cart .checkout .subtotal{float:left;}
.header_tools .cart .cart_item .remove:after{left:0;}
.header_tools .extra_navigation_button{float:right;}
.fixed_header{right:0;}
.sticky_header .header_wrapper{right:0;}
.header_button{float:left !important;margin-right:30px;}
.header_shadow_shadow1 .header_wrapper .container:after{right:0;}
.fullwidth_header .header_wrapper header{padding-right:70px;padding-left:70px;margin-right:0;margin-left:0;}
.fullwidth_header .top_nav{padding-right:70px;padding-left:70px;margin-right:0;margin-left:0;}
.header_1 nav .menu > li:last-child a{padding-left:0;margin-left:0;}
.header_3.header_wrapper header.container{padding-right:40px;padding-left:40px;}
.header_3 #navigation{float:right !important;margin-right:45px;}
.header_4 nav .menu > li > ul.sub-menu, .header_4 nav .menu > li > ul.sub-menu ul{right:0;}
.header_4 nav .menu > li:last-child{padding-left:20px;}
.header_5 .open_full_menu{float:right;}
.header_5 nav .menu > li > ul.sub-menu li.sub-menu{right:0;}
.overlay_menu{right:0;}
.overlay_menu .overlay-close{left:20px;}
.overlay_menu ul ul{float:right;}
.overlay_menu ul ul a{padding-right:0 !important;padding-left:0 !important;}
.overlay_menu ul li{float:right;}
.overlay_menu ul.menu{right:50%;}
.overlay_menu nav ul li a:after{right:50%;}
.header_6 #navigation{float:right;}
.header_6 nav .menu > li{border-left:1px rgba(255, 255, 255, 0.18) solid;}
.header_6 .header_widgetized{float:left;}
.header_6 .header_widgetized .footer_social_icons.circle li{float:right;}
.header_6 nav .non_mega_menu{right:0 !important;}
.header_6 .header_widgetized .widget{padding-right:10px;}
.header_6 .header_widgetized .footer_social_icons{float:right;}
.header_6 .header_widgetized .footer_social_icons li{float:right;margin-left:8px;}
.header_7 nav .simple_custom_menu_mega_menu.simple_mega2{right:auto;}
.header_7 #navigation{float:right;}
.header_7 #navigation nav .menu > li > a{float:right;}
.header_7 #navigation.pos_left nav .menu > li > ul.sub-menu,.header_7 #navigation.pos_left nav .menu > li > ul.sub-menu ul{left:auto;}
.header_7 #navigation.pos_right nav .menu > li > ul.sub-menu,.header_7 #navigation.pos_right nav .menu > li > ul.sub-menu ul{right:auto;}
.header_7 #logo,.header_7 #logo-snap{right:50%;}
.header_7 .header_widgetized{float:right;}
.header_7 .header_wrapper .footer_social_icons{float:right;right:50%;}
.header_7 .header_wrapper .footer_social_icons li{float:right;margin-right:5px !important;}
.header_7 .header_wrapper .footer_social_icons li:first-child{margin-right:0 !important;}
.header_7 .header_wrapper .footer_social_icons li a{float:right;}
.header_7 .header_wrapper .footer_social_icons li i{float:right;}
.header_7 .ls-wp-fullwidth-helper, .header_7 .ls-wp-container, .header_7 .ls-inner, .header_7 .ls-slide{right:0 !important;}
.header_wrapper.header_7.pos--left.transparent_padding{right:50px;}
.header_wrapper.header_7.pos--right.transparent_padding{left:50px;}
.header_7.transparent_padding .viewport{padding-right:0;}
.header_7:not(.transparent_padding) .nav-growpop a.prev{right:280px;}
.header_8 nav .menu > li > ul.sub-menu, .header_8 nav .menu > li > ul.sub-menu ul{right:0 !important;}
.header_10 #logo,.header_10 #logo_snap{right:50%;}
.header_10 #navigation nav{right:50%;}
.header_11 nav{float:right;}
.header_11 .centered_header{float:right;right:50%;}
.header_11 #logo,.header_11 #logo_snap{margin-right:60px;margin-left:60px;}
.header_12 #navigation{float:right;}
.header_12 .header_widgetized{float:left;}
.header_12 nav .non_mega_menu{right:0 !important;}
.header_12 .header_widgetized .widget{float:right;}
.header_12 .header_widgetized .footer_social_icons{float:right;}
.header_12 .header_widgetized .footer_social_icons li{float:right;margin-left:15px;margin-right:0px !important;}
.header_12 .header_widgetized .footer_social_icons li:first-child{margin-right:0 !important;}
.header_12 .header_widgetized .footer_social_icons li:last-child{margin-left:0 !important;}
.header_12 .header_widgetized .footer_social_icons li a{float:right;}
.header_12 .header_widgetized .footer_social_icons li i{float:right;}
.header_12 .after_navigation_widgetized{float:left;left:0;}
.header_12 .after_navigation_widgetized #search-form:after{left:15px;}
.header_12 .after_navigation_widgetized #search-form{float:right;}
.header_12.header_shadow_shadow1 .full_nav_menu .container:after{right:0;}
.header_12 .full_nav_menu nav ul > li:last-child{border-left: 0px solid #e7e7e7; padding-left:13px;}
.header_12 .full_nav_menu nav ul > li ul li{border-right:none !important;border-left:none !important;}
.header_13 header#header #navigation{float:right;right:50%;margin-right:-100px;}
.header_page .page_parents{left:0;}
.page_parents li:first-child{padding-left:0px;}
.page_parents li{float:left;padding-right:15px;padding-left:11px;}
.page_parents li:after{position: relative; left: -7px;top: -1px;}
.page_parents li:last-child{margin-left:0px;padding-left:0;}
.page_parents li:last-child a{margin-left:0px;}
.page_parents{left:0;float:right;}
.header_page h1{float:right;}
.header_page.centered .overlay, .header_page.left .overlay, .header_page.normal .overlay{right:0;}
.header_page.with_subtitle .titles{float:right;}
.header_page.with_subtitle.centered .titles h3, .header_page.with_subtitle.left .titles h3{float:right;}
.header_page.with_subtitle.left .titles h1,.header_page.with_subtitle.left .titles h3{text-align:right;}
.header_page.with_subtitle.normal .titles h1{float:right;}
.header_page.with_subtitle.normal .titles h3{float:right;}
.header_page.with_padding_style.with_subtitle.centered h1, .header_page.with_padding_style.with_subtitle.left h1{float:right;text-align:right;}
.header_page.with_padding_style.with_subtitle.centered .titles h3, .header_page.with_padding_style.with_subtitle.left .titles h3{float:right;text-align:right;}
.boxed_layout .ls-wp-fullwidth-helper, .boxed_layout .ls-wp-container, .boxed_layout .ls-inner, .header_7 .ls-slide{right:0 !important;}
.section-style .bg-overlay{right:0;}
.section_clear{margin-right:-15px;margin-left:-15px;}
.wpb_row{margin-right:0 !important;margin-left:0 !important;}
.wpb_row.section-style{margin-left:0 !important;}
.wpb_row .wpb_column .wpb_row{margin-right:0;margin-left:0;}
.full-width-content{margin-left:0 !important;}
.vc_empty_space{float:right;}
.full-width-content .span_12{margin-right:0;}
.vc_responsive .full-width-content.wpb_row .vc_span6{padding-left:0;}
.vc_responsive .full-width-content.wpb_row .vc_span12{padding-right:0;padding-left:0;}
.vc_responsive .full-width-content.wpb_row .vc_col-sm-6{padding-left:0;padding-right:0;}
.vc_responsive .full-width-content.wpb_row .vc_col-sm-12{padding-right:0;padding-left:0;}
.vc_responsive .full-width-content.wpb_row .wpb_column .wpb_column{padding-right:15px;padding-left:15px;}
.wpb_row .arrow_bottom{border-width:25px 20px 0 20px;right:50%;margin-right:-17.5px;}
.wpb_row .arrow_top{border-width:0 20px 25px 20px;right:50%;margin-right:-17.5px;}
.full-width-content .wpb_column .overlay{right:0;}
.wpb_column.with_overlay .overlay{right:0;}
.wpb_text_column{float:right;}
#fullPage-nav{left:40px;}
#fullPage-nav ul a{float:right;}
footer#footer .inner .row-fluid.ff .span12:first-child:last-child{right:50%;margin-right:0px;}
footer#footer .inner .row-fluid.ff .span12:first-child:last-child .widget ul li{margin-left:10px;}
footer#footer .inner .row-fluid.ff .span12:first-child:last-child .widget ul li:last-child{margin-left:0;}
footer#footer .inner .row-fluid.ff .span12:first-child:last-child .footer_social_icons{right:50%;float:right;}
footer#footer .widget .megamenu_container{float:right;right:50%;}
.fullwidth_footer footer#footer .inner{padding-right:70px;padding-left:70px;}
footer#footer .bg-overlay{right:0;}
.fullwidth_footer #copyright{padding-right:70px;padding-left:70px;}
#copyright .desc{float:right;}
#copyright .desc div:not(:only-child).copyright_text{text-align:right;}
footer .tagcloud a{margin-left:5px;float:right;}
footer .widget_flickr{float:right;}
footer .widget_flickr .flickr_container{float:right;}
footer .widget_flickr .flickr_badge_image{float:right;margin-left:13px;}
footer .inner .widget{float:right;}
footer .inner .widget ul li{float:right;}
footer .inner .widget ul li a{float:right;}
footer .inner .widget ul li span{float:right;}
footer .inner .widget_contact_info li i{margin-left:10px;float:right;}
footer .inner .widget_recent_posts li{float:right;}
footer .widget_recent_posts dd{margin-right:0;}
footer .inner .footer_social_icons li{float:right;margin-right:8px !important;}
footer .inner .footer_social_icons li:first-child{margin-right:0 !important;}
footer .footer_social_icons li a{float:right;}
footer .footer_social_icons li i{float:right;}
footer ul.sub-menu{padding-right:32px !important;}
footer #wp-calendar td{padding-right:16px;}
footer #search-form:after{right: 263px;}
footer #search-form{float:right;}
.widget_twitter dl dd{margin-right:35px;}
.widget_twitter dl dd .message span{float:right;}
.widget_most_popular dd{margin-right:75px;}
.widget_most_popular .date{float:right;}
#copyright .widget ul{float:right;}
#copyright .widget ul li{float:right;padding-left:14px;}
#copyright .footer_social_icons{float:right;right:50%;margin-right:0px !important;}
#copyright .footer_social_icons li{float:right;margin-right:8px !important;padding-left:0 !important;}
#copyright .footer_social_icons li:first-child{margin-right:0 !important;}
#copyright .footer_social_icons li a{float:right;}
#copyright .footer_social_icons li i{float:right;}
.blog-article .btn-bt i{float:right;}
.blog-article .btn-bt span{float:right;margin-left:35px;}
.media{float:right;}
.post-like{float:right;}
.format-quote .post-like{margin-left:0 !important;}
.format-quote .post-like i{margin-left:0 !important;}
.post-like i{padding-left:4px;}
.shares_container{float:left;}
.blog-article ul.shares{float:left;}
.blog-article .extra_info div.shares_container:only-child .shares{left:33%;}
.single-post .blog-article .share_link{margin-right:10px;}
.blog-article ul.shares li{float:right;}
.blog-article .share_link{float:left;margin-left:10px;}
.format-quote.blog-article .share_link{margin-left:0 !important;float:left !important;}
.format-quote.blog-article .share_link i{margin-left:0 !important;}
.blog-article .share_link i{padding-left:4px;}
.blog-article .extra_info{float:right;}
.blog-article .extra_info .tags{float:right;}
.blog-article .extra_info div.shares_container:only-child , .blog-article .extra_info div.shares_container:only-child.shares{float:right; left:7%;}
.blog-article .extra_info div.shares_container .shares_title{float:right;}
.timeline-border{right:55px;float:right;}
.fullwidth .timeline-border{right:35px;}
.blog-article.timeline-style{float:right;}
.blog-article.timeline-style .timeline{padding-left:27px;float:right;}
.blog-article.timeline-style .timeline .date .day{float:right;}
.blog-article.timeline-style .timeline .date .month{float:right;}
.blog-article.timeline-style .timeline .avatar{margin-right:11px;}
.blog-article.timeline-style .post_box{float:right;}
.blog-article.timeline-style .post_box.box_shadow{margin-right:90px;float:right;}
.blog-article.timeline-style .media{float:right;}
.blog-article.timeline-style .media .overlay{right:0;}
.blog-article.timeline-style .media .overlay .post_type_circle i{float:right;}
.blog-article.timeline-style .media .overlay .post_type_circle{right:50%;margin-right:-25px;}
.blog-article.timeline-style .content{float:right;}
.blog-article.timeline-style .content .quote{float:right;}
.blog-article.timeline-style .content .quote i{right:0px;}
.blog-article.timeline-style .content .quote p{padding-right:45px;}
.blog-article.timeline-style .content .quote .author{float:left;}
.blog-article.timeline-style .info{float:right;}
.blog-article.timeline-style .info li{float:right;margin-left:15px;padding-left:15px;}
.blog-article.timeline-style .info li i{margin-left:7px;float:right;}
.blog-article.standard-style{float:right;}
.blog-article.standard-style .media{float:right;}
.blog-article.standard-style .media .overlay{right:0;}
.blog-article.standard-style .media .overlay .post_type_circle i{float:right;}
.blog-article.standard-style .media .overlay .post_type_circle{right:50%;margin-right:-25px;}
.blog-article.standard-style .content{float:right;}
.blog-article.standard-style .content .quote{float:right;}
.blog-article.standard-style .content .quote i{right:0px;}
.blog-article.standard-style .content .quote p{padding-right:45px;}
.blog-article.standard-style .content .quote .author{float:left;}
.blog-article.standard-style .info{float:right;}
.blog-article.standard-style .info li{float:right;}
.blog-article.standard-style .info li i{margin-left:7px;float:right;}
.blog-article.alternate-style{float:right;}
.blog-article.alternate-style .media{float:right;}
.sidebar_right .blog-article.alternate-style .content, .sidebar_left .blog-article.alternate-style .content{padding-right:20px;margin-right:0;}
.blog-article.alternate-style .media .overlay{right:0;}
.blog-article.alternate-style .media .overlay .post_type_circle i{float:right;}
.blog-article.alternate-style .media .overlay .post_type_circle{right:50%;margin-right:-25px;}
.blog-article.alternate-style .content{margin-right:0px;float:right;}
.blog-article.alternate-style .content .quote{float:right;}
.blog-article.alternate-style .content .quote i{right:0px;}
.blog-article.alternate-style .content .quote p{padding-right:45px;}
.blog-article.alternate-style .content .quote .author{float:left;}
.blog-article.alternate-style .info{float:right;}
.blog-article.alternate-style .info li{float:right;margin-left:15px;padding-left:15px;}
.blog-article.alternate-style .info li i{margin-left:7px;float:right;}
.blog-article.alternate-style .shares_container{left:55px;}
.blog-article.grid-style{float:right;padding-right:20px;}
.blog-article.grid-style .gridbox{float:right;}
.blog-article.grid-style .media{float:right;}
.blog-article.grid-style .media .overlay{right:0;}
.blog-article.grid-style .media .overlay .post_type_circle i{float:right;}
.blog-article.grid-style .media .overlay .post_type_circle{right:50%;margin-right:-25px;}
.blog-article.grid-style .content{float:right;}
.blog-article.grid-style .content .quote{float:right;}
.blog-article.grid-style .content .quote i{right:0px;}
.blog-article.grid-style .content .quote p{padding-right:45px;}
.blog-article.grid-style .content .quote .author{float:left;}
.blog-article.grid-style .info{float:right;}
.blog-article.grid-style .info li{float:right;margin-left:10px;padding-left:10px;}
.blog-article.grid-style .info li i{margin-left:7px;float:right;}
.fullscreen-blog-article .content.left{float:right;margin-right:150px;}
.fullscreen-blog-article .content.right{left:150px;float:left;}
.fullscreen-blog-article .content .btn-bt{float:right;}
.fullscreen-blog-article#comments{float:right;}
.author_box{float:right;}
.author_box dd{margin-right:80px;}
.comment.span12{margin-right:0;}
.comment dl dd{margin-right:0px;}
.comment dl dd ul{float:right;}
.comment dl dd ul li{float:right;border-left:1px solid #999;}
.comment dl dd ul li span{padding-right:8px;padding-left:8px;}
.comment dl dd ul li:first-child span{padding-right:5px; padding-left:5px;}
.comment dl dd ul li:last-child{border-left:none;}
.comment .comment_text{float:right;}
#respond h3{float:right;}
#respond .comment-form-author{float:right;margin-left:2%;}
#respond .comment-form-email{float:right;margin-left:2%;}
#respond .comment-form-url{float:right;}
#respond input[type=\"text\"]{float:right;}
#portfolio-single-widget-area{float:right;}
.flexslider .headborder{right:50%;margin-right:-10px;}
.btn-bt.align-left{float:right;}
.btn-bt.align-right{float:left;}
.btn-bt.align-center{}
.btn-bt.default{float:right;padding:13px 28px 13px 28px;}
.btn-bt.default:has(i), .btn-bt.rounded:has(i){padding-left:50px;}
.btn-bt.business span{margin-right: 11px;}
.btn-bt.default span{right:0; margin-right:6px;}
.btn-bt.default i, .btn-bt.rounded i{}
.btn-bt.business{float:right;padding:9px 16px 9px 16px; }
.btn-bt.no_padding{float:right;}
.btn-bt.rounded{float:right;}
.btn-bt.big{float:right;}
.btn-bt.with_icon{float:right;}
.btn-bt.with_icon i{float:right;margin-left:15px;}
.btn-bt.gradient{float:right;}
#search-form:after,aside .woocommerce-product-search:after{right:263px;}
#search-form, aside .woocommerce-product-search{float:right;}
aside .widget-title{float:right;}
aside .widget{float:right;}
aside .widget_categories ul li:before,aside .widget_meta ul li:before{float:right;padding-left:12px;}
aside #wp-calendar td{padding-right:16px;}
aside .tagcloud a{float:right;margin-left:5px;}
aside ul.sub-menu{padding-right:32px;}
aside .footer_social_icons li{float:right;}
aside .footer_social_icons.circle li{float:right;margin-left:10px;}
aside .mc4wp-form input[type=\"email\"]{margin-left:-1px;}
.ls-defaultskin .ls-nav-prev{right:65px !important;}
.ls-defaultskin .ls-nav-next{left:65px !important;}
.tp-bullets.simplebullets .bullet{margin-left:5px !important;}
.swiper_slider .pagination{right:10px;}
.swiper_slider .swiper-pagination-switch{margin-left:5px;}
.swiper_slider .pagination-nested .swiper-pagination-switch{margin-left:0;}
.simple_slider_swiper .loading{right:0;}
.outter_padding .parallax_slider .simple_slider_wrapper{right:auto !important;}
.parallax_slider .simple_slider_wrapper{right:0!important;}
.simple_slider .swiper-slide .content{float:right;}
.simple_slider .swiper-slide .content.horizontal_centered{right:50% !important;}
.simple_slider .swiper-slide .content img.center{right:50%;}
.simple_slider .swiper-slide .content img.left{right:0;}
.simple_slider .swiper-slide .content img.right{right:100%;}
.simple_slider .swiper-slide .buttons{float:right;}
.simple_slider .swiper-slide .buttons.align-center{right:50% !important;}
.simple_slider .swiper-slide .buttons.align-right{float:left;}
.simple_slider .swiper-slide .buttons a{margin-left:10px;float:right;}
.simple_slider .swiper-slide .buttons a:last-child{margin-left:0;}
.simple_slider .video-wrap{right:0;}
.simple_slider .bg-overlay{right:0;}
.simple_slider .nav-thumbflip a{text-align:right;}
.simple_slider .nav-thumbflip a.prev{right:0;}
.simple_slider .nav-thumbflip a.next{left:0;}
.simple_slider .nav-thumbflip i{float:right;}
.simple_slider .nav-thumbflip a.prev .text{right:100%;}
.simple_slider .nav-thumbflip a.next .text{left:100%;}
.simple_slider .nav-simple a.prev{right:10px;}
.simple_slider .nav-simple a.next{left:10px;}
.simple_slider .nav-simple a span{float:right;}
.simple_slider .nav-simple a span i{float:right;}
.simple_news_slider .simple_slider_swiper{float:right;}
.simple_news_slider .featured_posts{float:right;padding-right:5px;}
.simple_news_slider .swiper-slide h1{float:right;}
.simple_news_slider .swiper-slide .overlay{right:0;}
.simple_slider .nav-simple a span .linea-arrows-right{float:left;margin-left:20px;}
.simple_news_slider .featured_posts .featured h4{float:right;}
.simple_news_slider .featured_posts .featured .overlay{right:0;}
.mobile_gallery .swiper_slider, .mobile_gallery .swiper-wrapper, .mobile_gallery .swiper-slide{float:right !important;}
.simple_gallery_carousel .swiper-slide{float:right;}
.simple_gallery_carousel .info p{right:50%;margin-right:-225px;}
.simple_gallery_carousel .nav-simple a.prev{right:0px;}
.simple_gallery_carousel .nav-simple a.next{left:0px;}
.simple_gallery_carousel .nav-simple a span span{float:right;}
.simple_gallery_carousel .nav-simple a span{float:right;}
.simple_gallery_carousel .nav-simple a span i{float:right;}
.simple_gallery_carousel .loading{right:0;}
#portfolio-filter ul{float:right;}
#portfolio-filter ul li{float:right;}
.content_portfolio.fullwidth #portfolio-filter ul{float:left;margin-left:20px;}
.content_portfolio.fullwidth #portfolio-filter ul li:last-child{padding-left:0;}
.portfolio-item.overlayed a{right:0;}
.portfolio-item.overlayed .tpl2 .overlay .center-bar:after,.portfolio-item.overlayed .tpl2 .overlay .center-bar:before{left:30px;right:30px;}
.portfolio-item .overlay{right:0;}
.portfolio-item.grayscale .project h2{float:right;}
.portfolio-item.grayscale .project p.icons_project{float:left;}
.portfolio-item.grayscale .project p a{float:left;}
.portfolio-item.grayscale .project, .portfolio-item.grayscale .project > a{right:0;}
.portfolio-item.grayscale:hover .project li.post-like{float:left;}
.portfolio-item.grayscale .project{margin-right:20px;}
.no_space .portfolio-item.grayscale .project{margin-right:0px;}
.five-cols .portfolio-item.grayscale .project p a{float:right;}
.portfolio-item.basic .link{margin-left:5px;}
.portfolio-item.basic .show_text h5{float:right;}
.portfolio-item.chrome .overlay span{right:0;}
.portfolio-item.chrome span a{right:50%;}
.no_space .filterable{margin-right:0 !important;}
.content_portfolio.fullwidth.layout-sidebar_left aside, .content_portfolio.fullwidth.layout-sidebar_right aside{padding-left:60px;}
.content_portfolio.fullwidth.layout-sidebar_left aside{padding-left:0px;padding-right:40px;}
.fullwidth.span9{padding-right:0;}
.fullwidth.layout-sidebar_left #portfolio-preview-items.normal{padding-right:0;}
.fullwidth #portfolio-preview-items.normal{padding-right:20px;padding-left:20px;}
.fullwidth #portfolio-preview-items.normal .row{margin-right:-20px;}
.fullwidth #portfolio-preview-items .row{margin-right:0;}
.fullwidth #portfolio-preview-items.no_space{margin-right:-5px;}
.fullwidth #portfolio-preview-items.no_space .portfolio-item{padding-right:5px;}
.portfolio-item img{float:right;}
.five-cols .portfolio-item{padding-right:20px;float:right;}
.three-cols .portfolio-item{padding-right:20px;float:right;}
.four-cols .portfolio-item{padding-right:20px;float:right;}
.two-cols .portfolio-item{padding-right:20px;float:right;}
.no_space .portfolio-item{margin-right:0;padding-right:0;}
.tpl2{float:right;}
.single_portfolio_gallery .gallery a{float:right;padding-right:20px;}
.portfolio_single ul.info li{float:right;}
.portfolio_single ul.info li .title{float:right;}
.portfolio_single .post-like{left:0;}
.single_portfolio_container .content{float:right;}
.single_portfolio_fullwidth .content{float:right;}
.tabbable .nav-tabs i{padding-left:5px;}
.vc_tta-tabs-position-left.vc_tta-style-default .vc_tta-tabs-container{border-left-width:1px;}
.vc_tta-tabs-position-left.vc_tta-style-default .vc_tta-tab.vc_active{border-left-width:2px;}
.vc_tta-tabs-position-right.vc_tta-style-default .vc_tta-tabs-container{border-right-width:1px;}
.vc_tta-tabs-position-right.vc_tta-style-default .vc_tta-tab.vc_active{border-right-width:2px;}
.tabbable.style_1 .nav-tabs li{border-left:none;}
.tabbable.style_1.tabs-left .nav-tabs li{margin-left:-1px;}
.tabbable.style_1.tabs-left .nav-tabs li:last-child{border-left:none !important;}
.tabs-left.nav-tabs .active > a, .tabs-left.nav-tabs .active > a:hover{border-right:2px solid #e2e2e2;}
.tabs-left.nav-tabs{border-left:2px solid #e2e2e2;}
.tabbable.style_2.tabs-left{float:right;}
.tabbable.style_2.tabs-left .nav-tabs{right:-1px;}
.tabbable.style_2 .nav-tabs li{border-left:none;}
.tabbable.style_2.tabs-left li:last-child{border-left:none !important;}
.tabbable.style_2.tabs-left .nav-tabs li:hover{border-right:1px solid #555;}
.tabbable.style_2.tabs-left .nav-tabs li.active{border-left:1px solid #fff;left:-1px;}
.tabbable.style_2.tabs-left .tab-content{right:-2px;}
.tabbable.style_3.tabs-left{float:right;}
.dark_version .tabbable.style_3.tabs-left{border-left:1px solid transparent;}
.tabbable.style_3.tabs-left .nav-tabs{border-left:none;}
.tabbable.style_3 .nav-tabs li{border-left:none;}
.dark_version .tabbable.style_3 .nav-tabs li:first-child{border-right:2px solid transparent;}
.dark_version .tabbable.style_3.tabs-left .nav-tabs li:first-child{border-right:1px solid transparent;}
.dark_version .tabbable.style_3.tabs-left li{border-right:1px solid transparent;}
.tabbable.style_3.tabs-left li:last-child{border-left:none !important;}
.tabbable.style_3 .nav-tabs li:last-child{border-left:1px solid #fff;}
.dark_version .tabbable.style_3 .nav-tabs li:last-child{border-left:1px solid transparent;}
.services_list dt i{float:right;}
.services_list dd{margin-right:85px;}
.services_list ul li{padding-right:10px;}
.row-dynamic-el .media .type_image.alignment_left{float:right;}
.row-dynamic-el .media .type_image.alignment_right{float:left;}
#faq-filter ul{float:right;}
#faq-filter ul li{float:right;}
.accordion{float:right;}
.faq{float:right;}
.accordion.style_1 .accordion-group{border-right:none;border-left:none;}
.accordion.style_1 .accordion-heading .accordion-toggle:before{right:10px;}
.accordion.style_1 .accordion-inner{float:right;padding-left:0;}
.accordion.style_2 .accordion-group{border-right:none;border-left:none;}
.accordion.style_2 .accordion-heading .accordion-toggle:before{right:10px;}
.accordion.style_2 .accordion-inner{float:right;}
.accordion.style_3 .accordion-group{border-right:none;border-left:none;}
.accordion.style_3 .accordion-heading .accordion-toggle:before{right:10px;}
.accordion.style_3 .accordion-inner{float:right;}
.side-nav{float:right;}
.side-nav li{padding-right:20px;}
.side-nav ul li{padding-right:40px;}
.nav-growpop a{text-align:right;}
.nav-growpop a.prev{right:0;}
.nav-growpop a.next{left:0;}
.nav-growpop a.prev div{right:0;padding:23px 34px 0px 98px;text-align:left;}
.nav-growpop a.next div{left:0;padding:23px 98px 0px 34px;}
.nav-growpop a.prev img{left:12px;}
.nav-growpop a.next img{right:12px;}
.post_navigation{float:right;}
.post_navigation a.prev,.post_navigation a.next{float:right;}
.post_navigation a.next{float:left;}
.post_navigation a.prev span.icon-wrap{float:right;}
.post_navigation a.next span.icon-wrap{float:left;}
.post_navigation a.prev h3{float:right;padding-right:46px;}
.post_navigation a.next h3{float:left;text-align:left;padding-left:46px;}
.post_navigation h6{float:right;margin-right:29px;padding-right:48px;}
.post_navigation a.next h6{text-align:left;float:left;margin-left:46px;margin-right:0;}
.block_title.column_title{float:right;}
.block_title.column_title h1{float:right;}
.inner-inline_border_circle.block_title.column_title h4{float:right;}
.block_title.column_title.inner-inline_border{float:right;}
.block_title.column_title.inner-inline_border h1{padding-left:20px;float:right;}
.block_title.column_title h4{float:right;}
.block_title.column_title.inner-inline_border_circle .divider .line{float:right;right:100%;}
.block_title.column_title.inner-inline_border_circle .divider{right:0;}
.block_title.section_title .divider{right:50%;}
.block_title.section_title .divider .line{float:right;}
.block_title.section_title .divider .line:nth-child(1){left:100%;}
.block_title.section_title .divider .line:nth-child(2){right:100%;}
.list li.simple{padding-right:25px;float:right;}
.list li.simple i{right:0;}
.list li.titledesc{float:right;}
.list li.titledesc dl dt .circle{float:right;margin-right:2px;}
.list li.titledesc dl dt i{float:right;}
.list li.titledesc dl dd{margin-right:50px;}
.list li.titledesc dl dt i.steadysets-icon-checkmark{padding-right:7px;}
.single_staff .featured_img img{right:0;}
.single_staff .center-bar a{margin-right:10px;}
.single_staff .center-bar a i{float:right;}
.single_staff.modern{float:right;}
.staff_carousel span.position{float:right;}
.single_staff.modern .content p{padding-right:13%;padding-left:13%;}
.swiper_pagination{left:auto;}
.services_small dd{margin-right:70px;}
.services_small .no_icon dd{margin-right:0px;}
.services_small .wrapper i{float:right;}
.services_small.align_right dt{float:left;}
.services_small.align_right dd{margin-left:60px;margin-right:0;}
.services_small.align_right h3{text-align:left;}
.services_small.align_right .content{text-align:left;}
.clients{float:right;}
.clients_caro{margin-right:0px;}
.clients .item a img{right:50%;float:right;}
.clients_el{float:right;}
.clients_el .pagination a i{float:right;}
.clients_el .pagination a.prev{right:0px;}
.clients_el:hover .pagination a.prev{right:-60px;}
.clients_el .pagination a.next{left:0px;}
.clients_el:hover .pagination a.next{left:-60px;}
.vc_column_container>.vc_column-inner:has(.clients_el){padding-left:0px;padding-right:0px;}
.textbar{float:right;}
.textbar h2{float:right;}
.textbar .btn-bt{float:left; margin-left:-11px;}
.textbar.style_2 .btn-bt{float:right;right:50%;}
.services_medium{float:right;}
.services_medium.style_2{float:right;}
.services_medium.style_1 .icon_wrapper{right:50%;margin-right:-50px;}
.services_medium.style_2 .icon_wrapper{right:50%;margin-right:-50px;}
.services_medium.style_3 .icon_wrapper{right:61px;}
.services_medium.style_1 i{float:right;}
.services_medium.style_2 i{float:right;}
.services_medium.style_3 i{float:right;}
.services_medium h4{float:right;}
.services_medium p{float:right;}
.services_medium.style_3 .icon_wrapper:after{right:-7px;}
.count_to{left:50%; width:100%;}
.animated_counter i{float:right;}
.chart_skill .text{float:right;right:50%;margin-right:-100px;}
.wpb_content_element.button{float:right;}
.wpb_content_element.button.buttons_two{float:right;}
.wpb_content_element.button.buttons_two a:first-child{margin-left:15px;}
.wpb_content_element.button.buttons_two.al_center{right:50%;}
.block_skill{float:right;}
.skill{float:right;}
.skill .prog .circle{left:-17px;}
.skill_title{float:right;}
.block_skill .big_percentage{float:left;margin-right:5px;}
.single_testimonial dl dd{margin-right:0px;}
.single_testimonial dl dd .param{float:right;}
.single_testimonial dl dd .param h6{float:right;margin-left:10px;}
.single_testimonial dl dd .param .position{float:right;}
.services_large .icon_wrapper{right:50%;margin-right:-60px;}
.services_large .icon_wrapper .top{right:-12px;}
.services_large .icon_wrapper .bottom{right:-12px;}
.services_large .icon_wrapper .right{left:0px;}
.services_large .icon_wrapper .left{right:0px;}
.services_large{float:right;}
.services_large .icon_wrapper i{float:right;}
.services_media .overlay span{right:0;}
.testimonial_carousel .item{float:right;}
.testimonial_carousel .item p{float:right;}
.testimonial_carousel .item .param{float:right;}
.testimonial_carousel .item .param span{float:right;}
.testimonial_carousel_element .pagination a.prev{right:50%;margin-right:-50px;}
.testimonial_carousel_element .pagination a.next{left:50%;margin-left:-50px;}
.testimonial_cycle .item{float:right;}
.testimonial_cycle .item p{float:right;}
.testimonial_cycle .item p:after{right:40px;}
.testimonial_cycle .item .param{float:right;margin-right:20px;}
.testimonial_cycle .item .param i{float:right;}
.testimonial_cycle .item .param .name{margin-right:20px;float:right;}
.testimonial_cycle .item .param h6{float:right;}
.testimonial_cycle .item .param span{float:right;}
.services_steps{float:right;}
.services_steps .icon_wrapper{margin-right:-50px;right:50%;}
.services_steps h4{right:0;}
.services_steps p{right:0;}
.full-width-content .recent_portfolio #portfolio-preview-items{margin-right:0;}
.three-cols.no_space .portfolio_slider .portfolio-item{margin-right:0;}
.no_space .row{margin-right:0;}
.recent_portfolio #portfolio-preview-items.no_space{margin-right:0;}
.recent_portfolio #portfolio-filter ul{right:50%;}
.latest_blog .no_carousel .blog-item{padding-right:20px;float:right;}
.latest_blog .blog-item.single{padding-right:20px;margin-right:0;}
.latest_blog .owl-carousel .owl-item{padding-right:10px;padding-left:10px;}
.latest_blog .owl-carousel .owl-item .blog-article{padding-right:0 !important;}
.latest_blog .owl-carousel .owl-controls .owl-next{border-bottom-left-radius:50%;margin-right:50px;}
.latest_blog .owl-carousel .owl-controls .owl-prev{left:80px;float:right;right:0;border-bottom-right-radius:50%;}
.latest_blog .blog-item .info{float:right;}
.latest_blog .blog-item .info li{float:right;margin-left:11px;}
.latest_blog .blog-item .info li i{margin-left:7px;float:right;}
.latest_blog .blog-item .after{float:right;}
.latest_blog .blog-item .after .info{float:right;}
.latest_blog .blog-article .media .overlay{right:0;}
.latest_blog .blog-article .media .overlay .post_type_circle i{float:right;}
.latest_blog .blog-article .media .overlay .post_type_circle{right:50%;margin-right:-25px;}
.latest_blog .btn-bt i, .blog-article .btn-bt i, .search .btn-bt i{right:77%;}
.latest_blog .blog-article .latest_post_comments{float:left;}
.latest_blog .blog-article .latest_post_comments i{padding-left:5px;}
.latest_blog .blog-article .post-like{float:left;margin-left:10px;}
.recent_news.inline .blog-item{float:right;}
.recent_news.inline .blog-item img{right:0;}
.recent_news.inline .blog-item a{right:0;}
.recent_news.inline .blog-item h4{float:right;}
.recent_news.inline .blog-item .info{right:50%;float:right;}
.recent_news.inline .blog-item .info li{float:right;margin-left:11px;}
.recent_news.inline .blog-item .info li i{margin-left:7px;float:right;}
.recent_news.events{float:right;}
.recent_news.events .blog-item > a{right:0;}
.recent_news.events .blog-item dt .date{float:right;margin-right:16px;}
.recent_news.events .blog-item dd{margin-right:90px;}
.recent_news.events .blog-item dd h5{float:right;}
.recent_news.events .time{float:right;}
.recent_news.events .link{float:left;left:0;}
.recent_news.events .link i{float:right;}
.recent_news.vertical .blog-item{float:right;}
.recent_news.vertical .blog-item dd{margin-right:110px;}
.simple_separator{float:right;}
.countdown_section{float:right;}
.price_table{float:right;}
.price_table .title{float:right;}
.price_table .title i{float:right;}
.price_table .price{float:right;}
.price_table .price .period{margin-right:10px;}
.price_table .list{float:right;}
.price_table .list ul{float:right;}
.price_table .list ul li{float:right;}
.price_table .price_button{float:right;}
.price_table .price_button a{left:-6%;}
.wpb_widgetised_column .footer_social_icons{float:right;right:50%;margin-right:0px !important;}
.wpb_widgetised_column .footer_social_icons li{float:right;margin-right:12px !important;}
.wpb_widgetised_column .footer_social_icons li:first-child{margin-right:0 !important;}
.wpb_widgetised_column .footer_social_icons li a{float:right;}
.wpb_widgetised_column .footer_social_icons li i{float:right;}
.wpb_widgetised_column .social_widget{float:right;}
.mc_signup_submit{text-align:right;}
#mc_display_rewards{float:right;text-align:right;}
.nav-fillpath{left:auto;float:right;right:50%;}
.nav-fillpath a.next{margin-right:50px;}
.nav-fillpath a.prev{left:80px;float:right;right:0;}
.block_title.column_title .nav-fillpath{right:0;}
.block_title.section_title .nav-fillpath{right:50%;}
.nav-fillpath a.next, .pagination a.next{margin-right:50px;}
.nav-fillpath a.prev, .pagination a.prev{left:80px;float:right;right:0;}
.wpcf7{float:right;}
.wpcf7 input:not([type=\"submit\"]), .wpcf7 textarea{padding-right:10px;}
.viewport{right:0;}
.search_bar{right:0;}
.search_bar .overlay-close{left:20px;}
.search_bar input[type=\"text\"]{border-right-color:transparent;border-left-color:transparent;right:50%;}
.extra_navigation.right{left:-300px;}
.extra_navigation.left{right:-300px;}
.open_extra_nav .extra_navigation.right{left:0;}
.open_extra_nav .extra_navigation.left{right:0;}
.extra_navigation #search-form:after{left:15px;}
.extra_navigation #search-form{float:right;}
.extra_navigation h5.widget-title{float:right;}
.extra_navigation .widget{float:right;}
.extra_navigation #wp-calendar td{padding-right:16px;}
.extra_navigation ul.sub-menu{padding-right:32px;}
.extra_navigation .footer_social_icons{float:right;margin-right:0px !important;}
.extra_navigation .footer_social_icons li{float:right;margin-right:8px !important;}
.extra_navigation .footer_social_icons li:first-child{margin-right:0 !important;}
.extra_navigation .footer_social_icons li a{float:right;}
.extra_navigation .footer_social_icons li i{float:right;}
.extra_navigation .close{left:20px;}
.extra_navigation .textwidget img{right:50%;}
.top_space{right:0px;left:0px;}
.bottom_space{right:0px;left:0px;}
.not_found{right:50%;float:right !important;}
.not_found h2{float:right;}
.not_found p{float:right;}
.not_found .search_field{float:right;right:50%;margin-right:-200px;}
.not_found .search_field input[type=\"text\"]{padding-right:20px;}
.not_found .search_field .btn-bt{left:0;}
.p_pagination{float:right;}
#blogmasonry #infscr-loading{float:right;}
#infscr-loading{right:50%;float:right;margin-right:-26px;}
.content_portfolio.fullwidth .p_pagination{padding-right:5px;}
.p_pagination .pagination span, .p_pagination .pagination a{float:right;margin:2px 0 2px 5px;}
.sidebar-header-left a img{margin-right:30px;}
.sidebar-header-left a:first-child{float:right;}
.sidebar-header-left a:last-child{right:205px;border-right:dashed 1px rgba(0,0,0,0.1);border-left:dashed 1px rgba(0,0,0,0.1);}
.screen-reader-text:focus{right:5px;}
.mc4wp-form input[type=\"email\"]{float:right;margin-left:15px;padding-right:20px;}
.full-width-content .vc_column_container .vc_column-inner{padding-right:0;padding-left:0;}
.vc_row.vc_column-gap-1 .vc_column_container:first-child{padding-right:1px;}
.vc_row.vc_column-gap-1 .vc_column_container:last-child{padding-left:1px;}
.vc_row.vc_column-gap-2 .vc_column_container:first-child{padding-right:2px;}
.vc_row.vc_column-gap-2 .vc_column_container:last-child{padding-left:2px;}
.vc_row.vc_column-gap-3 .vc_column_container:first-child{padding-right:3px;}
.vc_row.vc_column-gap-3 .vc_column_container:last-child{padding-left:3px;}
.vc_row.vc_column-gap-4 .vc_column_container:first-child{padding-right:4px;}
.vc_row.vc_column-gap-4 .vc_column_container:last-child{padding-left:4px;}
.vc_row.vc_column-gap-5 .vc_column_container:first-child{padding-right:5px;}
.vc_row.vc_column-gap-5 .vc_column_container:last-child{padding-left:5px;}
.vc_row.vc_column-gap-10 .vc_column_container:first-child{padding-right:10px;}
.vc_row.vc_column-gap-10 .vc_column_container:last-child{padding-left:10px;}
.vc_row.vc_column-gap-15 .vc_column_container:first-child{padding-right:15px;}
.vc_row.vc_column-gap-15 .vc_column_container:last-child{padding-left:15px;}
.vc_row.vc_column-gap-20 .vc_column_container:first-child{padding-right:20px;}
.vc_row.vc_column-gap-20 .vc_column_container:last-child{padding-left:20px;}
.vc_row.vc_column-gap-25 .vc_column_container:first-child{padding-right:25px;}
.vc_row.vc_column-gap-25 .vc_column_container:last-child{padding-left:25px;}
.vc_row.vc_column-gap-30 .vc_column_container:first-child{padding-right:30px;}
.vc_row.vc_column-gap-30 .vc_column_container:last-child{padding-left:30px;}
.vc_row.vc_column-gap-35 .vc_column_container:first-child{padding-right:35px;}
.vc_row.vc_column-gap-35 .vc_column_container:last-child{padding-left:35px;}
